.icon-frame svg {
    width: 25px;
    height: 78px;
}


.ceremony-info-1:hover{
.icon-frame{
    .svg-contact-icon-1{
        path {
            fill:#fff;
        }
    }
    .svg-heart-1 {
        path {
            fill: $primary-color;
            stroke:none;
            }
        }
    }
}

.ceremony-info-2:hover{
.icon-frame{
       .svg-contact-icon-2{
        path {
            fill:#fff;
        }
    }
    .svg-heart-2 {
        path {
            fill: $primary-color;
            stroke:none;
            }
        }
    }
}
.svg-heart {
        width: 100px !important;
        height: 100px !important;
    path {
        
        stroke: grey;
    }
}

.svg-contact-icon {
    position: absolute;
    top: 15px;
    right: 30px;
}


.wedd-location {
    text-align: center;
}

.wedd-location .icon-frame { 
//    background: url(../images/home/wedd-location/frame.jpg) no-repeat;
    width: 92px;
    height: 78px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wedd-location .icon-frame i {
    font-size: 28px;
    color: #1e1e1e;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wedd-location h3 {
    font-family: 'Lobster', cursive;
    margin-bottom: 45px;
}

.wedd-location .container .row:last-child p {
    font-size: 16px;
    color: #1e1e1e;
    margin: 40px 0 0;
}

.wedd-location .container .row:last-child > .col {
    padding: 0 25px;
}

.wedd-location .container .row:last-child > .col:hover .icon-frame {
//    background: url(../images/home/wedd-location/hover-frame.jpg) no-repeat;
}

.wedd-location .container .row:last-child > .col:hover i {
    color: #fff;
}

#googleMap-1 {
    height: 400px;
}
