/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/

header {
    position: relative;
}


/*navigation*/

header .navbar {
    background-color: $primary-color;
    background-image: url($pattern);
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 8;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

header .smaller {
    height: 100px;
}

#navbar {
    position: relative;
}

#navbar .navbar-nav {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#navbar a {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
}

#navbar a:hover,
#navbar a:focus,
#navbar ul li.active a {
    background: none !important;
    color: #2a1d22;
}

#navbar a:focus {
    color: #fff;
}


/*dropdown*/

header .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 4px solid #f44d6e;
    padding: 0;
    border-bottom: 0;
    border-radius: 0;
}

header #navbar .dropdown-menu li a {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #1e1e1e;
    display: block;
    padding: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

header #navbar .dropdown-menu li a:hover {
    background-color: #fff !important;
    color: $primary-color;
    padding-left: 13px;
}


/*logo*/

header .theme-logo a {
    position: relative;
    overflow: hidden;
    padding-bottom: 0 !important;
    img {
        height: 100px;
        width: 100px;
    }
}

header .theme-logo a > div {
    background: rgba(255, 255, 255, 0.63) url(../images/logo-heart.png) no-repeat center center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .theme-logo a > div div {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .theme-logo span {
    display: block;
    font-size: 15px;
    color: #2a1d22;
    text-align: center;
}

header .theme-logo a > div div span:first-child {
    margin-bottom: 25px;
}


/*title*/

header .title-bg {
    background: url(../images/title-bg.png) no-repeat center center;
    width: 100%;
    height: 338px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    z-index: 50;
}

header .title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 14%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}

header .title h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px;
}

header .title h2 {
    font-family: 'Lobster', cursive;
    font-size: 95px;
    color: $primary-color;
    margin: 0 0 17px;
}

header .title .date {
    font-size: 30px;
    color: #fff;
}

header .navbar-brand {
    display: none;
}



@media only screen and (max-width: 767px) {
	/*navbar*/
	header .navbar {
		background: none;
		height: auto;
		overflow: hidden;
	}

	header .navbar-header {
		background-color: $primary-color;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
		height: 70px;
	}

	header .navbar-header button {
		border: 1px solid #fff;
		right: 15px;
		top: 10px;
	}

	header .navbar-header button span {
		background: #fff;
	}

	#navbar {
		border-top: 0;
	}

	#navbar .navbar-nav {
		background: $primary-color;
		overflow-Y: scroll;
		overflow-x: hidden;
		margin: 0;
		top: 0;
		border-top: 1px solid #fff;
	}

	#navbar a {
		color: #fff;
		font-size: 15px;
		padding: 10px 05px 10px 25px;
	} 

	#navbar a:hover {
		background-color:  $primary-color !important;
	}


	/*drop-dwon*/
	#navbar .dropdown-menu {
		background-color: #fff;
		width: 100%;
		border-top: 0;
		left: 45px;
	}

	header .navbar-brand {
		font-family: 'Lobster', cursive;
		width: auto;
		height: auto;
		color: #fff;	
		font-size: 22px;
		padding: 0;
		display: inline-block;
		margin: 25px 0 0 35px;
	}


	header .title-bg {
		top: 60%;
		-webkit-transform: translate(-50%, -60%);
		transform: translate(-50%, -60%);
	}


	/*slider*/
	header .slider .owl-buttons .owl-prev,
	header .slider .owl-buttons .owl-next {
		top: 52%;
	}

	header .slider .owl-buttons .owl-prev {
		left: 15px;
	}

	header .slider .owl-buttons .owl-next {
		right: 15px;
	}
}



/*@media only screen and (max-width: 990px) {

	header .navbar-header {
		background-color: $primary-color !important;
		height: 70px !important;
	}
    
    #navbar .navbar-nav {
		background-color: $primary-color !important;
		margin: 0 !important;
		top: 0 !important;
		border-top: 1px solid #fff !important;
	}

}*/