/*slider*/

header .slider {
    width: 100%;
    min-height: 729px;
    text-align: center;
}

header .slider .slide-item {
    width: 100%;
    height: 729px;
}


/*********** slider image setting ***********/

header .slider .slide-img-1 {
    background: url(../images/home/slider/slider-1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

header .slider .slide-img-2 {
    background: url(../images/home/slider/slider-2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/*********** slider image setting ***********/

header .slider .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}


/*slider pagination*/

header .slider .owl-buttons .owl-prev,
header .slider .owl-buttons .owl-next {
    background: none;
    font-size: 50px;
    padding: 0;
    opacity: 1;
    position: absolute;
    top: 62%;
    z-index: 100;
}

header .slider .owl-buttons .owl-prev {
    left: 100px;
}

header .slider .owl-buttons .owl-next {
    right: 100px;
}

header .slider .owl-pagination {
    display: none !important;
}
