.popupelementsdiv {
    color: $primary-color;
    }

.popupelementsdiv-back {
     color: $primary-color !important;
 }

.popupcodeinput {
    border: 1px $primary-color solid;
    color: $primary-color;
}

.popupinvalidcode {
    color: $primary-color;
}

.popupgobtn {
    background-color: $primary-color;
 
}


