/*--------------------------------------------------------------
#1.3	love-story
--------------------------------------------------------------*/
  .svg-size {
    width: 130px !important;
    height: 130px !important;
    }


    
.love-story {
    background-color: #fef0ee;
    margin-top: -10px;
    overflow: hidden;
}

.love-story .content .row {
    margin-bottom: 55px;
}

.love-story .content .row:last-child {
    margin-bottom: 0;
}

.love-story .content .row:nth-child(even) {
    text-align: right;
        
}

.love-story .content .row > .col {
    background-color: #fff;
    padding: 0;
}

.love-story .content .row > .col .col:first-child {
    padding: 25px 0 25px 25px;
}

.love-story .content .row > .col .col:last-child {
    padding-right: 0;
}

.love-story .content h3 {
    font-size: 35px;
    color: #1e1e1e;
    margin: 0 0 20px;
    font-family: 'Dancing Script', cursive;
}

.love-story .content h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: $primary-color;
    margin: 0 0 10px;
}

.love-story .content h4 + p {
    margin: 0;
}


/*middle row*/

.love-story .middle .col:first-child {
    padding: 0 !important;
}

.love-story .middle .col:last-child {
    padding: 25px 25px 25px 0 !important;
}

.love-story .middle .frame {
    margin: 0 47px 0 0;
}

.love-story .middle .frame img:last-child {
    right: 0;
}


/*frame*/

.love-story .frame {
    height: 70px;
    width: 70px;
    padding: 50px;
}

//.love-story .frame img:first-child {
//    width: 220px;
//    height: 205px;
//    position: relative;
//    z-index: 5;
//}

.love-story .frame img {
    position: relative;
    z-index: 5;
    .heart-color {
        fill: $primary-color;
    }
}
//.love-story .frame img:last-child {
//    width: 100%;
//    position: absolute;
//    right: 8px;
//    top: 3px;
//}
.doodle-1 {
    position: relative;
}

.doodle-2 {
        position: relative;

}

.doodle-3 {
    position: relative;
    top: 20px;
}

.doodle-4 {
        position: relative;
        bottom: 30px;

}

.doodle-5 {
        position: relative;
        bottom: 35px;


}

.story-block {
    border: 10px solid #fef0ee;
    //background-color: #fef0ee !important;
    border-radius: 5px;
   
       
}

.story1 {
    height: 140px !important;
    width: 140px !important;
}
.story2 {
    height: 170px !important;
    width: 170px !important;
}


@media only screen and (max-width: 675px) {
	.love-story .content .col-xs-12 .col {
		width: 100%;
		padding-right: 6px;
	}

	.love-story .frame {
		width: 100%;
		margin: 0 !important;
	}

	.love-story h4 + p {
		padding-right: 20px;
	}

	.love-story .middle-row h4 + p {
		padding-right: 0;
		padding-left: 20px;
	}
//    .love-story .frame img {
//    position: absolute;
//    top: -15%;
//    right: 40%;
//    }
    
  

    
  
    
    .story-block-item {
        text-align: center;
    }
    
    .story-block {
         display: flex;
        flex-direction: column;
    }
    
    .middle-row{
        .story-block {
              display: flex;
        flex-direction: column-reverse;
        }
    }
    
    
  
}







































