.heart-beat {
    animation: heart-beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes heart-beat {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
